body{
    box-sizing: border-box;
}
header{
    background:url(img/pexels-danny-meneses-943096.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    background-repeat:no-repeat ;
    height: 100vh;
    width: 100%;
}

.links-nav{
    margin-left: 50px;
    color:#dd2c00 !important ;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    font-weight: bold;
    
}
.links-nav:hover{
    color: blanchedalmond !important;
}
.navbar-brand{
    margin-left:40px ;
    color: #9f5f80 !important;
    text-transform:uppercase;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.greeting{
    font-family: monospace;
    color:#204051 !important ;
}
.nom{
    color:blanchedalmond ;
}
.titre-job{
    font-size: 25px;
    color: #c70039 !important;
}
.info-pers p{
   text-align:justify ;
   text-justify: inter-word;
   font-family: 'Arvo', serif;
}
.links{
    margin-left: 20px;
    font-size: 20px;
}